jupyter

# packages required to download the dataset
selenium
tqdm

# huggingface packages
transformers==4.23.1
datasets==2.6.1
evaluate==0.3.0

# install PyTorch version compatible with A100 GPU
torch==1.9.0+cu111
torchvision==0.10.0+cu111
torchaudio==0.9.0